* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    }
html {
    width: 1920px;
    scroll-behavior: smooth;
      
}


/* start header*/
.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    height: 150px;
    background-color: black;
}
.logo_item {
    background-image: url(assets/svg/Vector.svg);
    width: 49px;
    height: 26px;
    opacity: 0.7;
}
.logo_item:hover {
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo_name {
    color: white;
    text-transform: uppercase;
    padding-left: 25px;
    font-size: 28px;
    font-family: 'Forum';
    letter-spacing: 5px;
    font-weight: 400;
    opacity: 0.7;
}

.logo_name:hover {
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.navigation {
    width: 775px;
}

.naigation_decoration {
    padding: 0;
    display: flex;
    justify-content: space-between;
  
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    opacity: 1;
    font-weight: 200;
}
ul li a:hover {
    opacity: .6;
    color: #9D8665;
    transition: .3s;
    
}
ul li a:active {
    opacity: 0.7;
    color: #7E6C51;
       
}

/* Start section Welcome */

.welcome {
    height: 810px;
    background: #030303;
    ;

}
.welcome_description {
    padding-top: 150px;
    padding-top: 355px;
}

h1 {
    font-family: 'Forum';
    font-size: 80px;
    color: #FFFFFF;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 90px;
    position: absolute;
    width: 593px;
    top: 300px;
    
}
 
.title_description {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.welcome_button {
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 26px;
    color: #FFFFFF;
    width: 360px;
    height: 75px;
    padding: 0;
    font-size: 22px;
    background-color: #710707;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
.welcome_button:hover {
    background: #9D8665;
    color: #000000;
    transition: .3s;

}

.image {
    background-image: url(assets/img/1.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 810px;
}

.background_container {
    display: flex;
}

/* Start slider */
.slider {
    width: 600px;
    height: 120px;
    position: absolute;
    top: 840px;
    left: 1080px;
    background: #030303;
    display: flex;
    justify-content: space-between;
    padding: 0 74px 0 74px;
}
.slider_numbers {
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Roboto';
    font-size: 22px;
}
.number {
    padding-right: 25px;
    line-height: 40px;
    text-transform: uppercase;
}

.carousel {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}
.carousel_item_1, .carousel_item_2, .carousel_item_3, .carousel_item_4, .carousel_item_5 {
    width: 16px;
    height: 16px;
    background-color:#FFFFFF;
    cursor: pointer;
}
.carousel_item_1 {
    background-color: #D2B183;
    
}
.carousel_item_1:hover {
    background-color: #9D8665;

}

.arrows {
    display: flex;
    align-items: center;
    width: 80px;
}
.arrows_item_1, .arrows_item_2 {
    background-image: url(assets/img/←.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 8px;
    cursor: pointer;
}
.arrows_item_1:hover {
    background-image: url(assets/img/2.png);
    cursor: pointer;
}

.arrows_item_2 {
    transform: rotate(180deg);
    
}
.arrows_item {
    width: 20px;
}

/* Start section Virtual Tour */
.virual_tour {
   background-color: white;
}

.virtual_tour_title {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: normal;
    color: #9D8665;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 25px;
}

.virtual_tour_container {
    border-top: 3px solid #710707;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.image_description {
    background-image: url(assets/img/Rectangle.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}

.image_description_denon {
    background-image: url(assets/img/Denone.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}

.image_description_colonnade {
    background-image: url(assets/img/cononade.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_greek {
    background-image: url(assets/img/greek.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_mona {
    background-image: url(assets/img/mona_lisa.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_night {
    background-image: url(assets/img/night.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.tour_title {
    font-family: 'Forum';
    font-size: 32px;
    font-weight: normal;
    color: #000000;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 25px 0 10px 0;
   
}

p a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.line {
    border-top: 2px solid #710707;
    width: 300px;
    
}

.tour_description_method {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #000000;
    padding: 10px 0 0 0;
}

.tour_description_panorama {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 21px;
    color: #000000;
    padding: 10px 0 0 0;
}
.tour_info {
    padding-bottom: 75px;
    cursor: pointer;
   
   
}
 .tour_info .line {
    transition: 2s;
    transition-timing-function: ease;
}

.tour_info .line:hover {
    width: 100%;
    
    
  
}
/*Start section Picture Explore*/
.explore {
    width: 1920px;
    height: 865px;
    background-color: #030303;
}

.description {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.section_title {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: normal;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 25px;
    color:#FFFFFF;

}
.picture_line {
    border-top: 3px solid #710707;
    width: 660px;
    padding-bottom: 75px;
} 

.picture_description {
    padding-right: 60px;
}
.picture_wrapper {
    display: flex;
}
.explore_image {
    display: flex;
    width: 720px;
    height: 700px;
    padding-top: 90px;
}
.explore_image_part1 {
    background-image: url(assets/img/Picture_part2.jpg);
    background-repeat: no-repeat;
    width: 720px;
    height: 700px;
}
.explore_slider {
    background-image: url(assets/img/explore\ slider.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 700px;
    position: absolute;
    left: 1382px;
    z-index: 1;
}
.explore_image_part2 {
    background-image: url(assets/img/Picture_part\ 1.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 700px;
    position: absolute;
}
.color_text {
    color: #CAAA7D;
}
/* Start section journey*/
.description_journey {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 25px;
    width: 720px;
    padding: 75px 0 75px 0;
}

.journey_title_wrapper {
    display: flex;
    justify-content: space-between;
}
.title_info_journey {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: normal;
    color: #9D8665;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 75px;
    
}
/* .video_poster {
    background-image: url(assets/img/video_player.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 650px;
    position: relative;
} */
.video_round {
    background-image: url(assets/img/round.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
    position: absolute;
    left: 610px;
    bottom: 215px;
}
.triangle {
    background-image: url(assets/img/play.png);
    background-repeat: no-repeat;
    width: 91.42619323730469px;
    height: 120.17610168457031px;
    position: absolute;
    left: 686.53px;
    bottom: 264.91px;
    
}
.video_keybord {
    background-color: #000000;
    width: 1440px;
    height: 85px;
    position: relative;
    
}
.little_play{
    background-image: url(assets/img/little_play.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 23px;
    height: 31px;
    left: 30px;
    top: 27px;
    }
.red_line {
    background-image: url(assets/img/red_line.png);
    background-repeat: repeat-y;
    position: absolute;
    width: 929px;
    height: 8px;
    left: 103px;
    top: 39px;
}
.poin_line {
    background-image: url(assets/img/point.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 594px;
    top: 35px;
    z-index: 1;
}
.white_play {
    background-image: url(assets/img/white_line.png);
    background-repeat: repeat-y;
    position: absolute;
    width: 432px;
    height: 8px;
    right: 408px;
    top: 39px;
}
.volume {
    position: relative;
    width: 1440px;
}
.volume_spiker {
    background-image: url(assets/img/volume_1.png);
    background-repeat: no-repeat;
    width: 21.11px;
    height: 31px;
    position: absolute;
    right: 336.89px;
    top: 27px;
}
.volume_item {
    background-image: url(assets/img/volume_2.png);
    background-repeat: no-repeat;
    width: 6.38px;
    height: 12.39px;
    position: absolute;
    right: 327.39px;
    top: 36.37px;
}
.volume_item_list {
    background-image: url(assets/img/volume_3.png);
    background-repeat: no-repeat;
    width: 10.56px;
    height: 24.8px;
    position: absolute;
    right: 320px;
    top: 30.1px;
}
.little_line {
    position: relative;
    width: 1440px;
}
.litle_red_line {
    background-image: url(assets/img/red_little_line.png);
    background-repeat: no-repeat;
    width: 67px;
    height: 8px;
    position: absolute;
    right: 203px;
    top: 39px;
}
.poin_line_little {
    background-image: url(assets/img/point.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 195px;
    top: 35px;
    z-index: 1;
}
.white_play_little {
    background-image: url(assets/img/white_little_line.png);
    background-repeat: no-repeat;
    width: 88px;
    height: 8px;
    position: absolute;
    right: 115px;
    top: 39px;
}
.small_videos {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  
}

video {
    display: block;
    cursor: pointer;
}

.video_title {
    display: flex;
    position: absolute;
    align-items: center;
    padding: 15px 0 0 10px;
    width: 100%;
}

.video_logo {
    background-image: url(assets/svg/mona.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    
}

.points {
    background-image: url(assets/svg/Group\ 18.svg);
    background-repeat: no-repeat;
    width: 4px;
    height: 16px;
    
}


.video_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    padding: 0 23px 0 10px;
    
}

.video_slider {
    display: flex;
    padding-top: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
    

}
.vector_1 {
    background-image: url(assets/img/stroke2.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    padding-right: 20px;
}
.black_point {
    background-image: url(assets/svg/video_point_black.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 20px;
    cursor: pointer;
}
.black_point:hover {
    background-image: url(assets/svg/red_point.svg);
    background-repeat: no-repeat;
    
}
.point {
    background-image: url(assets/svg/point_grey.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 20px;
}

.vector_2 {
    background-image: url(assets/img/stroke2.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    transform: rotate(180deg);
}
.vector_2:hover {
    background-image: url(assets/img/red_stroke.png);
    background-repeat: no-repeat;
    transform: rotate(360deg);
 
}
/*Start section Art gallery*/

.art_gallery {
    width: 1920px;
    height: 2200px;
    background-color: #030303;
    padding-top: 75px;
    position: relative;
}
.gallery_title {
    color: #FFFFFF;
    font-family: "Forum";
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 75px;
}
.gallery_wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: normal;
}
.gallery_image1 {
    background-image: url(assets/img/galery\ 1.png);
    width: 456px;
    background-repeat: no-repeat;
    height: 570px;
    margin-bottom: 24px;
}
.gallery_image2 {
    background-image: url(assets/img/galery\ 2.png);
    width: 456px;
    height: 570px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image3 {
    background-image: url(assets/img/galery\ 3.png);
    width: 456px;
    height: 456px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image4 {
    background-image: url(assets/img/galery\ 4.png);
    width: 456px;
    height: 242px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image5 {
    background-image: url(assets/img/galery\ 5.png);
    width: 456px;
    height: 456px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image6 {
    background-image: url(assets/img/galery\ 6.png);
    width: 456px;
    height: 570px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    
}
.gallery_image7 {
    background-image: url(assets/img/galery\ 7.png);
    width: 456px;
    height: 570px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image8 {
    background-image: url(assets/img/galery\ 8.png);
    width: 456px;
    height: 292px;
    background-repeat: no-repeat;
    margin-bottom: 68px;
}
.gallery_image9 {
    background-image: url(assets/img/galery\ 9.png);
    width: 456px;
    height: 570px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image10 {
    background-image: url(assets/img/galery\ 10.png);
    width: 456px;
    height: 456px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.gallery_image11 {
    background-image: url(assets/img/galery\ 11.png);
    width: 456px;
    height: 456px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.gallery_image12 {
    background-image: url(assets/img/galery\ 12.png);
    width: 456px;
    height: 342px;
    background-repeat: no-repeat;
}
.wrapper_group_1 {
    margin-top: 50px;
}
.wrapper_group_3 {
    margin-top: 50px;
}
.gradient {
    background-image: url(assets/img/gradient.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 360px;
    position: absolute;
    bottom: 0px;
}
/*Start section Tickets and Contacs*/

.title_tickets {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    padding: 75px 0 25px 0;
   
    
}
.tickets_wrapper {
    border-top: 3px solid #710707;
    display: flex;
    padding-top: 75px;
    justify-content: space-between;
}
.tickets_image {
    background-image: url(assets/img/tickets_img.png);
    background-repeat: no-repeat;
    max-width: 720px;
    height: 550px;
    width: 100%;
}
.tickets_description {
    display: flex;
}
.ticket_type_title, .ticket_type_title_amount {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding-bottom: 50px;
    
    
}
.tickets_type {
padding-left: 60px;
width: 100%;
padding-right: 240px;
}

.ticket_label {
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #000000;
    display: block;
    position: relative;
    text-indent: 40px;
    padding-bottom: 25px;   
    width: 270px;
    }

.ticket_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color:#FFFFFF;
    border-radius: 50%;
    border: 2px solid #000000;
  }
  
  /* On mouse-over, add a grey background color */
  .ticket_label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .ticket_label input:checked ~ .checkmark {
    background-color: #FFFFFF;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .ticket_label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .ticket_label .checkmark:after {
       top: 3px;
      left: 3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background:#000000;
  }

.number_button {
    all: unset;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-left: 12px;
	text-align: center;
	display: block;
    width: 100%;
    
}

.tickets_amount {
    width: 150px;
    position: sticky;
}  
.ticket_type_title_amount {
    text-align: right;
    padding-bottom: 25px;
}
.basic_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 15px;
}
.buttons_select {
    border: 3px solid #000000;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.button_item_1, .button_item_2 {
    background: none;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding: 0;
    cursor: pointer;

    
}
.button_item_1 {
margin-left: 14px;
}
.button_item_2 {
    margin-right: 14px;
}
.total {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
    margin: 50px 0 60px 0;
}
.tickets_button {
    background: #000000;
    border: none;
    border-radius: 2px;
    width: 175px;
    height: 50px;
    color: #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    left: -25px;
    cursor: pointer;
}
.tickets_button:hover {
    background: #9D8665;
    color: #000000;
    transition: all .3s;
}
.panoram_image {
    background-image: url(assets/img/parallax\ 1.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 400px;
    margin: 75px 0 75px 0;
}
.contacts_section {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    padding-bottom: 25px;
}
.contacts_info {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #710707;
    padding-top: 75px;
}
.map_ {
    background-image: url(assets/img/map.png);
    background-repeat: no-repeat;
    width: 960px;
    height: 620px;
}
.contacts_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    width: 227px;
    padding-bottom: 50px;
}
.info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
   color: #000000;
   padding-bottom: 25px;
}
/*Start booking tickets*/
.form_wrapper {
    width: 970px;
    margin: 0 auto;
    
}
.wrapper_description {
    display: flex;
    justify-content: space-between;
}
.booking {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665; 
    margin-block-start: -4px;
   
}
.logo_booking {
    background-image: url(assets/svg/logo_booking.svg);
    background-repeat: no-repeat;
    width: 85px;
    height: 41px;
}
.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    margin-bottom: 10px;
}

 .form_item {
     width: 400px;
 }  
   

.form {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #740C11;
    padding-top: 60px;
    position: sticky;
}

input[type="date"], input[type="time"] {
    margin: 0;
    width: 190px;
    height: 45px;
    border: 1px solid;
    cursor: pointer;
    
    
}
.form_datetime {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    appearance: none;
   
}
.form_datetime_input {
    height: 45px;
}

.name_input, .email_input, .tel_input, select {
    background-repeat: no-repeat;
    background-position: 15px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid;
    margin-bottom: 20px;
    height: 45px;
    
}

.name_input {
    background-image: url(assets/svg/Name_group.svg);
}
.email_input {
    background-image: url(assets/svg/email_group.svg);
}

.tel_input {
    background-image: url(assets/svg/tel_group.svg);
}

.name_input:hover {
    background-image: none;
    transition: all .3s;
    border-radius:5px;
    border: 1px solid ;
}
.email_input:hover {
    background-image: none;
    transition: all .3s;
    border-radius:5px;
    border: 1px solid;
}
.tel_input:hover {
    background-image: none;
    transition: all .3s;
    border-radius:5px;
    border: 1px solid;
}
.select {
    background-image: url(assets/svg/arrow_select.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 50%, 0 0;
    background-size: 17px auto, 100%; 
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    margin-bottom: 0px;
     


}
.select:hover {
    transition: all .3s;
    border-radius:5px;
    border: 1px solid;
}
.select_background {
    display: block;
    background-image: url(assets/svg/ballot_select.svg);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 335px;
    left: 15px;
    z-index: 1;

}
.select_text {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #030303;
    position: absolute;
    top: 333px;
    left: 45px;
    z-index: 1;
    cursor: pointer;
}
.entry_container {
    border: 1px solid;
    height: 135px;
    margin-top: 20px;
}
.title_entry {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
    padding: 10px 0 5px 0;
    margin: 0 auto;
    width: 370px;
    border-bottom: 2px solid #740C11;
    
}
.wrapper_entry {
    width: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.description_entry {
    margin-top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}
.basic_1 {
    margin-bottom: 22px;
}
.buttons-entry {
    margin-top: 15px;
}
.buttons_entry_form {
    
    width: 105px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    height: 25px;
    border: 1px solid #030303;
   

}
.button_entry_1, .button_entry_2 {
    background: #000000;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #FFFFFF;
    width: 125px;
    font-size: 19px;
    
}
.entry_button {
    all: unset;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: 12px;
	text-align: bottom;
	display: block;
    width: 100%;
    
}
.overviev {
    width: 530px;
    border: 1px solid #000000;
}
.overviev_container {
    margin: 0 auto;
    width: 470px;
}
.title_overviev {
    display: flex;
}